/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

h5{
    font-weight:bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

/*PieLoader*/

.wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.leftHalf, .rightHalf, .spinner {
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
}

.leftHalf {
    left: 0;
    background: #fff;
    z-index: 3;
    opacity: 1;
    -webkit-animation: showHide 2s infinite steps(1, end);
    border-radius: 100% 0 0 100%/ 50% 0 0 50%;
}

.rightHalf {
    right: 0;
    background: #1861ac;
    z-index: 1;
    opacity: 0;
    -webkit-animation: showHide 2s infinite steps(1, end) reverse;
    border-radius: 0 100% 100% 0/ 0 50% 50% 0;
}

.spinner {
    overflow: hidden;
    left: 0;
    background: #1861ac;
    -webkit-animation: spin 2s linear infinite;
    -webkit-transform-origin: center right;
    z-index: 2;
    border-radius: 100% 0 0 100%/ 50% 0 0 50%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes showHide {
    0% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }
}


/*------------------------------------------------ */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.unanswered {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    background-color: #dbdbdb;
    width: 10em;
    padding: 0.6em;
    border: 1px solid #e3e3e3;
    border-radius: 25px;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.p-33 {
    width: 33%;
}

.unanswered:hover {
    background-color: #e3e3e3;
}

.radius {
    border-radius: 10px;
    border: 2px solid #808080;
}

.radius:focus {
    outline: none;
    box-shadow: 0px 0px 2px #808080;
}

.flex-h-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #dedede; /* Light grey */
    border-top: 8px solid #808080; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.top-right-absolute {
    position: absolute;
    top: 2em;
    left: 2em;
}

.player-field {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    width: 10em;
    padding: 2em;
    border: 1px solid #e3e3e3;
    border-radius: 25px;
    display: block;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar {
    top: 0; /* Stay at the top */
    left: 10%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
}
@media (max-width: 900px) {
    .sidebar {
        top: 0; /* Stay at the top */
        left: 0;
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    }

    .player-field {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        width: 8em;
        padding: 1.5em;
        border: 1px solid #e3e3e3;
        border-radius: 25px;
        display: block;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media (max-width: 600px) {
    .sidebar {
        top: 0; /* Stay at the top */
        left: 0;
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    }

    .player-field {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.2rem;
        width: 6em;
        padding: 1em;
        border: 1px solid #e3e3e3;
        border-radius: 25px;
        display: block;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.remove{
    display:none;
}