<div id="app">
    <div id="StartScreen" class="full-center">
        <label for="message">Username</label><br />
        <input type="text" id="message" /><br />
        <input class="btn btn-primary mt-5 w-100" type="button" v-on:click="AddToGroup" value="Play" />
    </div>
    <div id="playersScreen" v-for="player in players">
        {{player.name}}
    </div>
</div>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl('/quiz')
        .build();


    var app = new Vue({
        el: "#app",
        data: {
            players: [{
                name: "a"
                }]
        },
        created: function () {


            // Transport fallback functionality is now built into start.
            connection.start()
                .then(function () {
                    console.log('connection started');

                })
                .catch(error => {
                    console.error(error.message);
                });


        },
        methods: {
            AddToGroup: function () {
                let groupName = ""
                connection.invoke('AddToGroup', message.value)
                    .then(p => {
                        groupName = p;
                        console.log(groupName)
                        document.getElementById('StartScreen').style.display = 'none'
                        axios
                            .get(url + 'api/Rooms/?name=' + groupName)
                            .then(response => {
                                app.players = response.data.players
                            })
                        connection.on('userJoined', function () {
                            axios
                                .get(url + 'api/Rooms/?name=' + groupName)
                                .then(response => {
                                    app.players = response.data.players
                                })
                        });
                        connection.on('userLeft', function () {
                            axios
                                .get(url + 'api/Rooms/?name=' + groupName)
                                .then(response => {
                                    app.players = response.data.players
                                })
                        });
                    })


            }
        },
    });
</script>