<div class="full-center">
    <label for="message">Username</label><br />
    <input type="text" id="message" /><br />
    <input class="btn btn-primary mt-5 w-100" type="button" id="sendmessage" value="Play" />
</div>


<script>

    var connection = new signalR.HubConnectionBuilder()
        .withUrl('/quiz')
        .build();

    connection.on('broadcastMessage', function (message) {
        // Html encode display name and message.
        var encodedName = name;
        var encodedMsg = message;
        // Add the message to the page.
        var liElement = document.createElement('li');
        liElement.innerHTML = '<strong>' + encodedName + '</strong>:&nbsp;&nbsp;'
            + encodedMsg;
        document.getElementById('discussion').appendChild(liElement);
    });
    // Transport fallback functionality is now built into start.
    connection.start()
        .then(function () {
            console.log('connection started');
            document.getElementById('sendmessage').addEventListener('click',
                function (event) {
                    // Call the Send method on the hub.
                    connection.invoke('AddToGroup', message.value);
                });
        })
        .catch(error => {
            console.error(error.message);
        });
</script>