<div id="app">
    <div id="StartScreen" v-if="!started" class="full-center">
        <label for="message">Username</label><br />
        <input autocomplete="off" class="radius" type="text" id="message" /><br />
        <input class="btn btn-primary mt-5 w-100" type="button" v-on:click="AddToGroup" value="Play" />
    </div>
    <div class="sidebar" v-if="started">
        <div id="playersScreen" class="player-field text-center" v-for="player in room.players" v-bind:style="{ background: player.colorCode}">
            <span v-if="connectionId == player.connectionId">
                <b class="text-white">(You){{player.name}}</b><br />
                <b class="text-white">Score: {{player.score}}</b>
            </span>
            <span v-else>
                <b>{{player.name}}</b><br />
                <b>Score: {{player.score}}</b>
            </span>
        </div>
    </div>
    <div v-if="started">
        <div class="m-3 flex-h-center">
            <h3 class="text-center">{{room.question[0].questionText}}</h3>
        </div>
        <div class="center-block input-group mb-3 flex-h-center">
            <div class="center-block input-group mb-3 flex-h-center">
                <input id="answer" type="text" name="name" value="" autocomplete="off" class="radius mr-4" />
                <button class="btn btn-dark">Confirm</button>
            </div>
        </div>
        <div class="horizontal-center">
            <table class="w-100 horizontal-center">
                <tr v-for="y in 5" class="text-center">
                    <td class="unanswered text-center">
                        <b>{{y}}</b>
                    </td>
                    <td class="text-center unanswered">
                        <b>{{y + 5}}</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl('/quiz')
        .build();


    var app = new Vue({
        el: "#app",
        data: {
            connectionId: "e",
            started: false,
            room: [{

            }]
        },
        created: function () {


            // Transport fallback functionality is now built into start.
            connection.start()
                .then(function () {
                    console.log('connection started');
                    connection.invoke('GetConnectionId')
                        .then(id => {
                            app.connectionId = id;
                        });
                })
                .catch(error => {
                    console.error(error.message);
                });


        },
        methods: {
            AddToGroup: function () {
                let groupName = ""
                connection.invoke('AddToGroup', message.value)
                    .then(p => {
                        groupName = p;
                        this.started = true;
                        axios
                            .get(url + 'api/Rooms/?name=' + groupName)
                            .then(response => {
                                app.room = response.data
                                console.log(app.room)
                            })
                        connection.on('userJoined', function () {
                            axios
                                .get(url + 'api/Rooms/?name=' + groupName)
                                .then(response => {
                                    app.room = response.data
                                })
                        });
                        connection.on('userLeft', function () {
                            axios
                                .get(url + 'api/Rooms/?name=' + groupName)
                                .then(response => {
                                    app.room = response.data
                                })
                        });
                    })


            }
        },
    });
</script>