<div id="app" class="horizontal-center m-2">
    <table class="w-100">
        <tr>
            <td class="text-left p-33"><b>Score: {{score}}</b></td>
            <td class="text-center p-33"><b>Question: {{currentQuestion + 1}}</b></td>
            <td class="text-right p-33"><b>Answered: {{currentQuestion}}</b> </td>
        </tr>

    </table>    
    
    <h3 class="text-center m-3">{{question[currentQuestion].questionText}}</h3>
    <center>
        <div class="center-block input-group mb-3">
            <input type="text" name="name" value="" class="radius mr-4" v-model="answer" />
            <button class="btn btn-dark" v-on:click="Submit">Confirm</button>
        </div>
    </center>
    <div class="horizontal-center">
        <table class="w-100 horizontal-center">
            <tr v-for="index in 5" class="text-center">
                <td class="unanswered text-center">
                    <b v-if="answers.length == 10">{{answers[index-1].answerText}}</b>
                    <b v-else>{{index}}</b>
                </td>
                <td class="text-center unanswered">
                    <b v-if="answers.length == 10">{{answers[index+4].answerText}}</b>
                    <b v-else>{{index+5}}</b>
                </td>
            </tr>
        </table>


    </div>
</div>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            score: 0,
            currentQuestion: 0,
            question: [{
                questionText: "",
                category: {
                    name: "",
                    id: ""
                },
                answers: {
                    answerText: ""
                }
            }],

            answers: [],
            answer:""
        },
        created: function () {
            axios
                .get("https://localhost:5001/api/question")
                .then(response => this.question = response.data)

        },
        methods: {
            ShowQuestions: function () {
                if (this.answers.length != 10) {
                    this.answers = [];
                    for (var i = 1; i < 11; i++) {
                        this.answers.push(this.question[this.currentQuestion].answers.filter(function (el) {
                            return el.points == i
                        })[0]);
                    }
                }
            },
            Submit: function () {
                if (this.answers.length != 10) {
                    this.answers = [];
                    console.log(this.question[this.currentQuestion].answers.filter(x => //Is there same value with toUpper and removeSpaces
                        x.answerText.toUpperCase().replace(/ /g, '') == this.answer.toUpperCase().replace(/ /g, '')));
                }
            },
            NextQuestion: function () {
                this.currentQuestion++;
            }
        },
    });


</script>