<div id="app">
    {{question}}
</div>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            question: {

            }
        },
        created: function () {
            axios
                .get("https://localhost:5001/api/question")
                .then(response => this.question = response.data)
                .then(respons => console.log(respons.data))
        },
        methods: {
            goToGame: function () {

            }

        },
    });


</script>