
<div class="text-center full-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="SinglePlayer">SinglePlayer</a> <br />
    <a class="btn btn-primary mt-4" asp-action="Index" asp-controller="Multiplayer">MultiPlayer</a> <br />
    <a class="btn btn-primary mt-4 mb-5" asp-action="About">About</a>
</div>
